@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    @media only screen and(min-width:$v-20) {
        font-size: 70%;
    }
    @media only screen and(min-width:$v-4k) {
        font-size: 85%;
    }
    @media only screen and(max-width:$v-9) {
        font-size: 57.5%;
    }
    @media only screen and(max-width:$v-8) {
        font-size: 55%;
    }
    @media only screen and(max-width:$v-6) {
        font-size: 50%;
    }
}
body {
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;

    line-height: 1.6;
    color: var(--font-primary);
    font-size: 1.6rem;
    overflow-x: hidden;
}
.heading-1 {
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
}
.heading-2 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}
.heading-3 {
    font-size: 2.5rem;
    line-height: 1.2;
}
.heading-4 {
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--font-primary);
}
