.btn {
    display: inline-block;
    border: 0;
    border-radius: 2rem 0;
    background-color: var(--accent);
    padding: 0.5em 1.4em;

    text-decoration: none;
    font-size: 1.8rem;

    color: var(--font-secondary);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
    transition: opacity 200ms ease-in-out;
}
.btn-sec {
    background-color: var(--tertiary);
}

.btn:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: var(--font-primary);
}
a:hover {
    opacity: 0.8;
}

.section-intro {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--font-paragraph);
    margin-bottom: 1.5rem;
}

.after-right::after {
    content: '';
    position: absolute;
    right: -1.75rem;
    bottom: -1.75rem;
    width: 100%;
    height: 100%;
    border: 1px solid var(--stroke);
    z-index: -1;
    border-radius: 10rem 0;
}
.after-left::after {
    @extend .after-right;
    left: -1.75rem;
    top: -1.75rem;
}
