:root {
    --primary-400: #ffffff;

    --secondary-300: #ebebeb;
    --secondary-400: #f8f8f8;
    --secondary-500: #eeeeee;

    --accent: #37806b;
    --accent-dark: #0b664c;
    --tertiary: #caa892;
    --stroke: #b0855b;

    --white: #ffffff;

    --font-primary: #212121;
    --font-paragraph: #646464;
    --font-secondary: #ffffff;

    --box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}

$v-4k: 156.25em; // 2500px
$v-20: 125em; ////2000px
$v-17: 105em; ////1680px
$v-14: 85.375em; //1366px
$v-12: 75em; //1200px
$v-10: 62.5em; //1000px
$v-9: 56.25em; //900px
$v-8: 48em; // 768px
$v-6: 35.5em; //568px
$v-3: 20em; //320px
